<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Booky</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Booky</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://github.com/moexmen/booky">
              <i class="fa fa-github"></i>
              View on GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <div class="jumbotron">
      <%= if @current_user do %>
        <h2>Welcome, <%= @current_user.name %>!</h2>
        <img src="<%= @current_user.avatar %>" class="img-circle"/>
        <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index %>">
          <i class="fa fa-github"></i>
          Sign in with GitHub
        </a>
      <% end %>
    </div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"</script>
    <script>require("/web/static/app")</script>
  </body>
</html>
